body {
  background-image: url('../img/felt.jpg');
  color: cornsilk;
}

.card {
  float: left;
  border: solid 1px black;
  width: 146px;
  border-radius: 5px;
  height: 200px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.covered {
  background-image: url('../img/card-back.png');
  background-position: center;
}

.hand {
  overflow: auto;
  text-align: center;
}

.gameEnd {
  display: none;
}

.center {
  display: inline-block;
  margin: auto;
}

.hand-container {
  position: absolute;
  left: 0;
  right: 0;
}

.player-hand-container{
  bottom: 198px;
}

.dealer-hand-container {
  top: 130px;
}
